.notification {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1000;
    font-size: x-large;
    /* Set high z-index for positioning over other components */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.success {
    color: green;
}

.notification.failure {
    color: red;
}

.notification.show {
    opacity: 1;
}